{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "entry": [
      "babel-polyfill"
    ],
    "test": {
      "optional": [
        "runtime",
        "es7.classProperties",
        "es7.classProperties"
      ]
    }
  }
}
